/* APP */
.app-top, .app-bottom {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.app {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    min-height: 100vh;
    background-color: #ECECEC;
    font-family: 'Play', sans-serif !important;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}


/* STATUS BAR */
.status-bar {
    /* background-color: antiquewhite; */
    background-color: #d0eaff74;
    /* border: 1px solid black; */
    border: 2px solid #606060;
    border-radius: 10px;

    /* max-width: 320px; */
    min-width: 300px;

    display: flex;
    flex-direction: column;

    padding: 0.5rem;
}

.status-bar .sub-status {
    align-self: flex-end;
    margin-bottom: 0;
    font-size: 0.7rem;
    /* opacity: 0;
    transition: opacity 0.5s ease-out 0s; */
  }

.sub-status.top {
  margin-bottom: 0.25rem;
}

.sub-status.bottom {
  margin-top: 0.25rem;
}
  
.status-bar .main-status {
    align-self: center;
    margin-bottom: 0;
    font-size: 2rem;
}
  
  /* animations */
  /* .status-bar .show {
    opacity: 1;
  } */

  /* .status-bar .hide {
    opacity: 0;
  } */
  
/* @keyframes blink-in {
    from {
        opacity: 0;
    }

    100% {
      opacity: 1;
    }
} */

/* .blink-out {
    animation: blink-out 0.5s linear 1;
    opacity: 0;
}
  
@keyframes blink-out {
    from {
        opacity: 1;
    }

    100% {
      opacity: 0;
    }
} */


/* GAME CONTROLLERS */
.game-controllers {
    max-width: 320px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.start, .reset {
  margin: 1rem;
}

.game-mode {
  margin: 1rem;
}

/* pushable Button Styling */
.button-82-pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-82-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.button-82-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(340deg 100% 16%) 0%,
    hsl(340deg 100% 32%) 8%,
    hsl(340deg 100% 32%) 92%,
    hsl(340deg 100% 16%) 100%
  );
}

.button-82-front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: hsl(345deg 100% 47%);
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
  .button-82-front {
    font-size: 1.25rem;
    padding: 12px 42px;
  }
}

.button-82-pushable:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.button-82-pushable:hover .button-82-front {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
  outline: none;
}

/* RESET AND START BUTTONS */

/* CSS */
.button-30 {
  align-items: center;
  appearance: none;
  /* background-color: #FCFCFD; */
  background-color: #ECECEC;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}


/* Gameboard */
.grid {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);

    grid-gap: 2px;
    background-color: rgb(170, 170, 170);

    /* border: 2px solid rgb(107, 107, 107); */
    background-color: #606060;
    border: 2px solid #606060;
    width: fit-content;

    margin: 2rem;
}

.subgrid {
    /* background-color: white; */
    background-color: #ECECEC;
    width: 30px;
    height: 30px;
}

.boat {
  /* background-color: lightblue; */
  background-color: #A5D1F3;
}

.miss {
  /* background-color: red; */
  background-color: #606060;
}

.hit {
  /* background-color: green; */
  background-color: #E4001B;
}